.content {
    margin: 83px auto 54px;
}
.name {
    font-size: 12px;
    font-family: $groteskreg;
    margin-right: 5px;
    margin-left: 3px;
}
.data {
    font-size: 12px;
    color: #cfcfd1;
    font-family: $groteskreg;
}
.title-caption {
    font-size: 10px;
    color: #cfcfd1;
    font-family: $groteskmed;
    margin-top: 88px;
    letter-spacing: 0.5px;
}
.title-main {
    font-family: $prodispreg;
    font-size: 48px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: 58px;
}

.title__author {
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
}
.image__main {
    max-width: 100%;
    margin-top: 24px;
}
.subtitle {
    font-family: $prodispmed;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 34px;
    margin-top:20px;
    margin-bottom:45px;
}

 .table {
    display: flex;
    justify-content: center;
    width: 790px;
    margin: 0 auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
        
        &__block {
            width: 147px;
            height: 60px;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;         
            overflow: hidden;
                
                &:first-child {
                    border-right: 2px solid #e7e7f0;
                }
                
                &-center {
                    width: 162px;
                    height: 60px;
                    background: #ffffff;
                    border-right: 2px solid #e7e7f0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                }
        }
}    
.block-main {
    font-family: $groteskmed;
    font-size:16px;
}
.block-caption {
    font-family: $groteskmed;
    font-size:14px;
    color:#cfcfd1;
}
.container-img {
        margin-left: 22.2%;
}  

.text-first {
    width: 790px;
    font-size: 18px;
    max-width: 100%;
    font-family: GroteskLight;
    text-align:left;
    margin-top:100px;
    margin-bottom:30px;
    line-height: 28px;
    letter-spacing: 0.7px;
}
.text-second {
    width: 790px;
    font-size: 18px;
    max-width: 100%;
    font-family: GroteskLight;
    text-align:left;
    margin-top: -6px;
    margin-bottom: 23px;
    line-height: 32px;
    letter-spacing: 0.7px;
}
.float {
    width:996px;
    margin: 25px auto;
        
        &-block {
            float: left;
            margin-right: 14px;
            height: 250px;
            position:relative;
                
                &::before {
                    position:absolute;
                    content:url(../img/W.png);
                    top: 80px;
                    left: 62px;
                }
                
                &::after {
                    position:absolute;
                    content:'Amazon Echo';
                    font-family: $prodispmed;
                    top: 130px;
                    left: 40px;
                }
        }
}
.last {
    width: 894px;
    margin-left:auto;
    margin-right:auto;
}
.bottom__img {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
    margin: 20px 0;
}
.bottom__second {
    width: 790px;
    max-width: 100%;
    margin: auto;
}
.bottom-second-w {
    text-align: center;
    margin-top: -17px;
}
 .bottom-second-a {
    text-align: center;
    margin-top: -5px;
}
.bottom__second-img {
    display: block;
}
.bottom__second-content {
    line-height: 20px;
    font-size: 17px;
    margin-top: 10px;
}
.bottom__second-content-end {
    margin-top: 10px;
    line-height: 20px;
    font-size: 17px;
}
.opacity {
    opacity: 0.7;
    border-right: 1px solid black;
}